@font-face {
  font-family: "Cutive Mono";
  src: url("./assets/font/CutiveMono-Regular.ttf");
}
.logo {
  font-family: "Cutive Mono", monospace;
  font-weight: 600;
  .logo-text {
    border-left: 10px solid #6190e8;
    padding-left: 10px;
  }
}